---
import 'styles.css'

export type Props = {
  title?: string
  description?: string
}

let {
  title = 'Деньги-Власть-Деньги',
  description = 'Книга, раскрывающая ключевые аспекты мировой финансовой системы и её влияние на власть и общество.',
} = Astro.props as Props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Деньги-Власть-Деньги" />
    <meta property="og:url" content="https://vlast.xyzp" />
  </head>

  <body
    class={`preload-transitions bg-white text-slate-800 dark:text-slate-200 dark:bg-neutral-900 min-w-[20rem]`}
  >
    <div
      class="m-auto flex min-h-full w-full max-w-4xl flex-grow flex-col p-6 lg:max-w-7xl"
    >
      <slot />
    </div>
    <script is:inline src="https://bastyon.com/js/lib/apps/sdk.js"></script>
    <script is:inline src="https://bastyon.com/external.js"></script>
    <script is:inline>
      setTimeout(() => {
        if (
          typeof window !== 'undefined' &&
          document.body.classList.contains('preload-transitions')
        ) {
          document.body.classList.remove('preload-transitions')
        }
      }, 0)
    </script>
  </body>
</html>
